.template {
  display: none;
}

.contact-bold {
  color: #ff9933;
  /* font-weight: 600; */
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

.contact-button {
  width: 40px !important;
  height: 40px !important;
  border: 0px !important;
  margin-right: 10px !important;
}

.read-more-link {
  color: #008cff;
  text-decoration: underline;
}

.read-m {
  text-align: center;
}

.read-m2 {
  text-align: center;
  padding: 26px;
  font-size: 24px;
}

.clickable {
  cursor: pointer;
}

/* Modal Content/Box  */
.modal-cont {
  background-color: #f7fbff;
  margin: 5% auto;
  /* padding: 40px 20px; */
  border: 1px solid #888;
  border-radius: 8px;
  width: 400px; /* Could be more or less, depending on screen size */
  height: 620px;
}

/* Modal Content/Box  */
.modal-cont2 {
  background-color: #f7fbff;
  margin: 5% auto;
  /* padding: 40px 20px; */
  border: 1px solid #888;
  border-radius: 8px;
  width: 400px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-right: 20px;
  padding-top: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "Avenir", Helvetica;
  color: #1e3f5a;
  margin: 0px;
  background-color: #f7fbff;
}

.title-st {
  height: 50px;
  font-size: 40px;
  margin-top: 56px;
}

.title-st2 {
  height: 50px;
  font-size: 40px;
  font-weight: bold;
}

/*
.strik {
  background-color: #1e3f5a;
  width: 65px;
  height: 4px;
  margin-bottom: 20px;
}
*/
.good {
  font-weight: bold;
  line-height: 1;
}

.formform {
  height: 288px;
  margin-top: 56px;
  width: 360px;
  background-color: #f7fbff;
}

.headhead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 40px;
}

.base-font {
  font-size: 17px;
}

.texti {
  text-align: center; 
  background-color: #000000;
}

.radgjof {
  margin-top: 33px;
  font-size: 17px;
  line-height: 1.6;
}

.radgjof2 {
  width: 360px;
  height: 300px;
  margin-top: 55px;
  font-size: 18px;
  border-radius: 6px;
  background-color: #f7fbff;
}

.all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 30px;
}

.logo {
  width: 204px;
  height: 35px;
}

.big-btn {
  background-color: #ff9933;
  border-radius: 8px;
  font-weight: 550;
  font-size: 16px;
  color: white;
  border: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  /*margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 30px;*/
}

.bl-text {
  font-size: 15px;
}

.btn1 {
  width: 280px;
  height: 60px;
  margin: 10px;
}

.btn2 {
  padding: 0 10px;  
  width: 100%;
  height: 50px;
}

.btn3 {
  padding: 0 10px;  
  width: 85%;
  height: 50px;
}

.your-name {
  margin-left: 9px;
  color: #ff9933;
  font-size: 13px;
  margin-bottom: 5px;
  text-align: left;
}

.spass {
  margin-bottom: 12px;
}

.input-box {
  border-radius: 4px;
  border: 1px solid #b3b3b3;
  height: 48px;
  font-size: 17px;
  padding: 0 10px;  
  width: 100%;
  box-sizing: border-box;  
  margin-top: 19px;
}

.input-box2 {
  border-radius: 4px;
  border: 1px solid #b3b3b3;
  height: 48px;
  font-size: 17px;
  padding: 0 10px;  
  width: 100%;
  box-sizing: border-box;  
  margin-top: 10px;
}

.input-box3 {
  border-radius: 4px;
  border: 1px solid #b3b3b3;
  height: 48px;
  font-size: 17px;
  padding: 0 10px;  
  width: 85%;
  box-sizing: border-box;  
  margin-top: 10px;
}

.bla {
background-color: #000000;
}

.container-offering {
}

.container-testimonials {
  background-color: #edf1f5;
  height: fit-content;
}

.container-takki {
  background-color: #edf1f5;
  height: 110px;
  text-align: center;
}

.input-box::placeholder {
  color: #b3b3b3;
}

.input-box2::placeholder {
  color: #b3b3b3;
}

.container {
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 3vw;
}

.container6 {
  width: 100%;
  height: 100%;
  background-color: #e6e6e6;
}

.row {
  display: flex;
  flex-direction: row;
}

.space-b {
  display: flex;
  justify-content: space-between;
}

.dalkur {
  width: 400px;
}

.col {
  justify-content: center;
  background-color: aqua;
  flex-direction: row;
  display: flex;
}

.ko-img {
  width: 100% !important;
  height: 110vh;
  /* min-height: 620px !important; */
  object-fit: cover !important;
  object-position: center top !important;
}

.ko-img2 {
  width: 100%;
  height: 45vh;
  object-fit: cover !important;
  object-position: center top !important;
  display: none;
}

.recommend {
  /* display: flex;  */
  padding: 10px 0px;
  /* justify-content: space-between;    */
}

.recommend2 {
  /* display: flex;  */
  padding: 10px 0px;
  /* justify-content: space-between;    */
}

.rec-small {
  margin: 20px;
  height: 100px;
  flex-grow: 1;
  justify-content: center;  
  height: fit-content;
}

/*hvítu kassarnir utan um quotes */
.rec-small2 {
  margin: 10px;
  margin-top: 1px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0px 2px 5px #BFBFBF;
  flex-grow: 1;
  justify-content: center;
  background-color: #f7fbff;
  height: fit-content;
}

.foofooter {
  background-color: #1e3f5a;
  color: white;
  height: 90px;
}

.rec-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}

.rec-img2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.job-title {
  line-height: 1.5;
}

@media only screen and (min-width: 600px) {
  .stoff {
    position: absolute;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1024px) {
  .recommend {
    display: flex;
    flex-direction: row;
    height: 20vh;
  }

  .recommend2 {
    display: flex;
    flex-direction: row;
    height: 40vh;
  }

  .rec-small {
    align-items: center;
    width: 100px;
  }

  .radgjof2 {
    box-shadow: 0px 2px 5px #BFBFBF;
  }

  .container-testimonials {
  margin-top: 110px;
  }

  .title-st {
  width: 900px;
  }

  .title-st2 {
  width: 900px;
  }

  .modal-cont2 {
    height: 360px;
  }

}


/* BIG TABLET */
@media only screen and (min-width: 876px) and (max-width: 1024px) {
  .recommend {
    display: flex;
    flex-direction: column;
    /* height: 20vh; */
    /* background-color: yellow; */
  }

  .recommend2 {
    display: flex;
    flex-direction: column;
    /* height: 20vh; */
    /* background-color: yellow; */
  }

  .rec-small {
    padding: 15px 0px;
    flex-direction: column;
    align-items: center;
  }

  .radgjof2 {
    box-shadow: 0px 2px 5px #BFBFBF;
  }

  .container-testimonials {
  margin-top: 10px;
  }

  .title-st {
  width: 600px;
  }

  .title-st2 {
  width: 600px;
  }

  .modal-cont2 {
    height: 360px;
  }

}




/*hvítu kassarnir utan um quotes */
/*
.rec-small2 {
  flex-grow: 1;
  justify-content: center;
  padding: 15px 0px;
  flex-direction: column;
  align-items: center;
  background-color: #f7fbff;
}

.rec-small3 {
  flex-grow: 1;
  justify-content: center;
  padding: 15px 0px;
  flex-direction: column;
  align-items: center;
  background-color: #f7fbff;
  margin-left: 10px;
  margin-right: 10px;
}
*/

/* SMALL TABLET */
@media only screen and (max-width: 876px) {
  /*.tilbod-takki {
    display: none;
  }*/

  .title-st {
    font-size: 28px;
    width: 400px;
  }

  .title-st2 {
    font-size: 34px;
    line-height: 17px;
    width: 400px;
  }

  .radgjof2 {
  }

  .rec-small {
    padding: 20px 0px;
    flex-direction: column;
    align-items: center;
    margin: 1px;

  }

  .logo {
    width: calc(274px * 0.8);
    height: calc(47px * 0.8);
  }

  .rec-small2 {
  margin: 30px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 1px;
  padding: 10px;
  }

  .dalkur {
    width: 300px;
  }

  .modal-cont2 {
    height: 360px;
  }
}

/*hvítu kassarnir utan um quotes */
/*
.rec-small2 {
  flex-grow: 1;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.rec-small3 {
  flex-grow: 1;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}
*/
/* PHONE */
@media only screen and (max-width: 600px) {
  .logo {
    width: 204px;
    height: 35px;
  }

  .dalkur {
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
  }

  .recommend {
    padding: 1px;
  }

  .recommend2 {
    padding: 20px 0px;
  }

  .ko-img {
    display: none;
  }

  .container {
    /* width: 90vw; */
    margin-left: 0vw;
    margin-right: 0vw;
    width: 100vw;
  }

  .rec-small {
    flex-direction: column;
    /* width: 90vw; */
    align-items: center;
    margin: 1px;
  }

  .spassia {
    margin-left: 25px;
    margin-right: 25px;
  }

  .bl-text {
    text-align: center;
    /* background-color: blue; */
  }

  .title-st {
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
  }

  .title-st2 {
    text-align: center;
    font-size: 28px;
    line-height: 10px;
  }

  .radgjof {
    text-align: center;
    font-size: 15px;
    padding-left: 37px;
    padding-right: 37px;
  }

  .radgjof2 {
  width: 100%  
  }

  .read-m {
  font-size: 16px;
  }

  .read-m2 {
  text-align: center;
  font-size: 16px;
  }

  .container-testimonials {
  margin-top: 1px;
  }

  .btn1 {
  width: 340px;
  height: 60px;
  margin: 10px;
  }

  /* .your-name {
    text-align: center;
  } */

  .headhead {
    margin-top: initial;
    padding: 10px;
    /* margin-top: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: pink; */
  }

  /*
  .arrow-up {
    position: relative;
    width: 0;
    top: -85.5px;
    height: 0;
    border-style: solid;
    border-width: 0 0 80px 100vw;
    border-color: transparent transparent #f7fbff transparent;
  }
  */

  .jabb {
    background-image: url('./assets/7.jpg');
    height: 35vh;
    width: 100%;
    /* object-fit: cover !important;
    object-position: center top !important;
    display: none; */

  }

  .ko-img2 {
    display: initial;
    height: 45vh;
  }

  .foofooter {
    text-align: center;
  }

  .foofoofoo {
    display: flex;
    flex-direction: column;
  }

  .ko-img2 {
    width: 100%;
    height: 50vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  }

  .modal-cont {
    width: 98vw;
    height: 670px;
  }

  .modal-cont2 {
    width: 98vw;
    height: 360px;
  }

  .formform {
    width: 90vw;
    margin-left: 10px; 
    margin-right: 10px; 
  }

  .bla {
    width: 100%;
  }

  .rec-small2 {
  margin: 22px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 1px;
  padding: 10px;
  }

  .spassia {
  margin-left: 10px;
  margin-right: 10px;
  }


}
